body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f5f5f5;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 50%;
}

h1 {
    color: brown;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: burlywood;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}
.error {
    color: red;
    font-size: 14px;
    display: block;
}

.invalid {
    border: 2px solid red;
}

.success {
    color: green;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}


button:hover {
    background-color: #0056b3;
}


